
 
 
  
  
.nav-link{
  float: right;
  margin-left: 250px;
  color:#F2FA04;
  font-size: 21px;
  padding: 10px;
  }

  header{
    display:flex ;
    justify-content: flex-start;
    background:transparent;
    width: 100%;
    position: fixed;
    height: 120px;
    
    }
  #guitar{
    width: 600px;
  }
  #bass{
    width: 600px;
  }
  #amp{
    width: 600px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
  section{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
    color: #F2FA04;
  }
  h4{
    font-size: 30px;
  }
  h3{
    font-size: 30px;
  }
  
  body{
    background-image:url(https://images.reverb.com/image/upload/s--V_jN_4HC--/a_exif,c_limit,e_unsharp_mask:80,f_auto,fl_progressive,g_south,h_1600,q_80,w_1600/v1524081653/ivzwbfax4b0snlos37sz.jpg);
      background-size: cover;
  }
  #video{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
  h6{
   font-size: 25px;
   color: #F2FA04;
    text-align: center;
    }
    
    
  h7{
   font-size: 15px;
   color: #F2FA04;
   text-align: left;
    } 
    
  
   #submit{
      width: 100px;
    }
    footer{
     text-align: center; 
    }
    h7{
      text-align: center;
    }
    html{
    scroll-behavior:smooth;
  }
    a:hover:not(.active) {
    background-color: green;
  }
   
  
    
  
    